/* GENERAL */

body {
    background-color: rgb(242, 240, 240);

    text-align: left;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    line-height: 1;
    box-sizing: border-box;
    min-height: 100vh;
}

html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
	padding: 0;
    border: 0;
    text-decoration: none;
}

ul {
	list-style: none;
}

blockquote {
    font-style: italic;
    line-height: 1.5rem;
    font-size: .9rem;
}
a:link, a:visited {
    color: white;
}

a:hover, a:active{

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.content-card {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);

}

/* PAGE CONTAINER GRID */
.page-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

/* HEADER */

.header-container {
    background-color: cadetblue;
    color: white;
}

.logo-container {
    width: 3rem;
    padding: 1rem;
}

.logo-container img {
    width: 100%;
}

.menu-container {
    /* background-color: antiquewhite; */
    margin-left: auto;
}

.menu-item {
    color: white;
}

.menu-item:last-of-type {
    margin-right: 2rem;
}
.menu-item a {
    padding: 1.855rem 0.5rem;

}

.menu-item a:hover {
    background-color: #86d1d3;
}

/* MAIN CONTENT */
.content {

}

.about-container {
    height: calc(100% - 8.125rem);
    padding-left: 2rem;
    padding-right: 2rem;
}


.about-heading {
    line-height: 2rem;
}
.about-img-container {
    text-align: center;
    padding: 1rem;
}

.about {
    line-height: 1.4rem;
}
.freedom-quote {
    margin: 2rem 0;
    padding: 1rem;
    background-color: lavender;
    border-radius: 5px;
}

.quote-author {
    font-size: .7rem;
}
/* ASIDE */
.aside-container {
    line-height: .9rem;
    font-size: .85rem;
}

.aside-container > * {
    padding: .4rem;
}

.requirements-list {
    list-style-type: square;
    list-style-position: inside;
}

.requirements-list li {
    padding-top: .3rem;
}

/* FOOTER */
.footer-container {
    background-color: cadetblue;
    height: 45px;
    margin-top: auto;
}

.copyright {
    padding-left: 2rem;
    font-size: .75rem;
    color: lavender;
}
.footer-items-container {
    margin-left: auto;
    width: unset;
}

.footer-item a {
    padding: 0.5rem 0.5rem;
}

.footer-items-container:last-child{
    padding-right: 2rem;
}

.footer-item:hover {
    transform: scale(1.1);
}

/* CONTACT PAGE ******************************* */

/* CONTACT FORM */

.contact-container {
    height: calc(100% - 8.125rem);
}

.contact-heading {
    margin: 1rem auto;

}

.contact-description {
    max-width: 40rem;
    margin: 0 auto;
    /* text-align: center; */
}
.contact-form {
  margin: 2rem auto;
  width: 40rem;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: cadetblue;
}

.contact-form legend {
    font-weight: 800;
}
.contact-form label {
    font-weight: 600;
}

.contact-form-list {

}

.contact-form-list label {
    display: inline-block;
    width: 10rem;
    text-align: right;
}

.contact-form-item {
    margin-top: 1rem;
    text-align: left;
}

.contact-form-item:last-of-type {
    text-align: center;
}

.contact-form-input {
    width: 20rem;
}

.contact-form-text {
    width: 20rem;
    border: 1px solid lightgray;
    vertical-align: top;
    height: 5em;
}

.contact-form-button {
    padding: .5rem 2rem;
    background-color:rgb(242, 240, 240);
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(69, 113, 114);
    border-radius: 5px;
}

/* TRAVELS PAGE ******************************* */

/* TRAVELS CONTAINER */
.travels-container {
    height: calc(100% - 8.125rem);
}  

.travels-heading {
    line-height: 2rem;
}

.travel-items-container {
    justify-content: space-between;
    margin: 2rem 0;
    align-items: stretch;
    
}

.travel-item {
    background-color: cadetblue;
    padding: .5rem;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);
    max-width: 28%;
}

.travel-img-container {

}

.travel-img-container img {
    width: 100%;
}

.city-name {
    margin: .5rem 0;
}

.travel-more-link {
    text-align: center;
    margin: 2rem auto;
}
.travel-more-link a {
    background-color: #f48da1;
    height: 2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.photos-copyright {
    font-size: .75rem;
    color: lightslategray;
    font-style: italic;
}