/* GENERAL */

body {
    background-color: rgb(242, 240, 240);
    text-align: left;
    font-size: 16px;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    line-height: 1;
    box-sizing: border-box;
    min-height: 100vh;
    color: rgb(68, 68, 68);
}

/* RESET DEFAULT */
html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
	padding: 0;
    border: 0;
    text-decoration: none;
    
}

ul {
	list-style: none;
}

/* DEFINE GENERAL STYLES */
blockquote {
    font-style: italic;
    line-height: 1.5rem;
    font-size: .9rem;
}
a:link, a:visited {
    color: white;
}

a:hover, a:active{

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.content-card {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);

}

/* PAGE CONTAINER GRID */
.page-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

/* HEADER */

.header-container {
    background-color: cadetblue;
    color: white;
}

.logo-container {
    width: 3rem;
    padding: 1rem;
}

.logo-container img {
    width: 100%;
}

.menu-container {
    /* background-color: antiquewhite; */
    margin-left: auto;
}

.menu-item {
    color: white;
    font-weight: 600;
}

.menu-item:last-of-type {
    margin-right: 2rem;
}
.menu-item a {
    padding: 1.855rem 0.5rem;

}

.menu-item a:hover {
    background-color: #86d1d3;
}

/* MAIN CONTENT */
.content {

}

.about-container {
    height: calc(100% - 8.125rem);
    padding-left: 2rem;
    padding-right: 2rem;
}


.about-heading {
    line-height: 2rem;
}
.about-img-container {
    text-align: center;
    padding: 1rem;
}
.about-img-container img{
    width: unset;
}

.about {
    line-height: 1.4rem;
}
.freedom-quote {
    margin: 2rem 0;
    padding: 1rem;
    background-color: lavender;
    border-radius: 5px;
}

.quote-author {
    font-size: .7rem;
}
/* ASIDE */
.aside-container {
    line-height: 1rem;
    font-size: .8rem;
    height: max-content;
    padding: 1rem;
}

.aside-container > * {
    padding: .4rem;
}

.requirements-list {
    list-style-type: square;
    list-style-position: inside;
}

.requirements-list li {
    padding-top: .3rem;
}

/* FOOTER */
.footer-container {
    background-color: cadetblue;
    height: 45px;
    margin-top: auto;
}

.copyright {
    padding-left: 2rem;
    font-size: .75rem;
    color: lavender;
    display: block;
}
.footer-items-container {
    margin-left: auto;
    width: unset;
}

.footer-item {
    font-weight: 600;
}

.footer-item a {
    padding: 0.5rem 0.5rem;
}

.footer-items-container:last-child{
    padding-right: 2rem;
}

.footer-item:hover {
    transform: scale(1.1);
}

/* CONTACT PAGE ******************************* */

/* CONTACT FORM */

.contact-container {
    height: calc(100% - 8.125rem);
}

.contact-heading {
    margin: 1rem auto;

}

.contact-description {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.25rem;
}

.contact-form {
  margin: 2rem auto;
  max-width: 40rem;
  padding: 1em;
  border-radius: 6px;
  background-color: cadetblue;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);
}

.contact-form legend {
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
    color: white;
}
.contact-form label {
    font-weight: 600;
}


.contact-form-list {

}

.contact-form-list label {
    display: inline-block;
    width: 10rem;
    text-align: right;
}

.contact-form-item {
    margin-top: 1rem;
    text-align: left;
}

.contact-form-item:last-of-type {
    text-align: center;
}

.contact-form-input {
    width: 20rem;
    background-color: #ffafbf;
}

.contact-form-input::placeholder {

    padding: .1rem .2rem;
    font-size: .75rem;
}

.contact-form-text {
    width: 20rem;
    vertical-align: top;
    height: 5em;
    background-color: #ffafbf;
}

.contact-form-text::placeholder {
    padding: .1rem .2rem;
    font-size: .75rem;
}

.contact-form-button {
    margin-top: 1rem;
    padding: .5rem 2rem;
    background-color: #ffafbf;
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(69, 113, 114);
    border-radius: 5px;
}

.contact-aside-container {
    height: calc(100% - 6rem);
}

/* TRAVELS PAGE ******************************* */

/* TRAVELS CONTAINER */
.travels-container {
    height: calc(100% - 8.125rem);

}  

.travels-heading {
    line-height: 2rem;
    
}

.travel-items-container {
    justify-content: space-between;
    margin: 2rem 0;
    align-items: stretch;
    color: white;
    line-height: 1.1rem
}

.travel-items-container p {
    font-size: .9rem;
}

.travel-item {
    background-color: cadetblue;
    padding: .5rem;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.2);
    max-width: 28%;
    min-width: 180px;
}

.travel-img-container {

}

.travel-img-container img {
    width: 100%;
}

.item-title {
    margin: .5rem 0;
}

.travel-more-link {
    text-align: center;
    margin: 2rem auto;
}
.travel-more-link a {
    background-color: #f48da1;
    height: 2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.photos-copyright {
    font-size: .75rem;
    color: lightslategray;
    font-style: italic;
}

/* WRITING PAGE ******************************* */

/* WRITING CONTAINER */

.writing-container {
    height: calc(100% - 8.125rem);
} 

.writing-heading {
    line-height: 2rem;
}
.writing-img-container {
    overflow: hidden;
    flex: 3;
}

.writing-img-container img {
    border-radius: 6px 0 0 6px;
    width: 100%;
    display:block;
}

.writing-items-container {
    text-align: center;
}

.writing-item {
    /* background-color: cadetblue; */
    width: unset;
    flex-wrap: nowrap;
    padding: 0;
    border-width: 0;
    align-items: flex-start;
}

.writing-overview {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    flex: 5;
    padding: 1rem;
    /* color: white; */
}

.writing-overview p {
    font-size: .9rem;
    line-height: 1.1rem;
}

.writing-more-link {
    background-color: #f48da1;
    height: 1rem;
    padding: .25rem;
    border-radius: 5px;
    font-size: .8rem;
    width: 75px;
    text-align: center;
    margin-top: .5rem;
}

.writing-container .photos-copyright {
    margin-left: 2rem;
}

/* MEDIA QUERIES ******************************* */

@media (max-width: 1060px) {
    .page-container {
        display: flex;
        flex-direction: column;
    }
    .writing-page {
        flex-direction: column-reverse;
    }
    .travel-items-container p {
        font-size: .8rem;
    }
    .writing-overview {
        flex: 3;
    }
    .writing-overview p{
        font-size: .8rem;
    }

}

@media (max-width: 760px) {
    .row {
        width: unset;
    }
    .header-container {
        flex-direction: row-reverse;
        padding: 0 2rem;
    }
    .header-container h1 {
        font-size: 1.75rem;
        margin-right: auto;
        padding-left: .3rem;
    }
    .logo-container {
        padding: 1.75rem 0 0 1rem;
    }
    .menu-container {
        width: 100%;
        padding-bottom: 1rem;
    }
    .menu-item {
        font-size: .9rem;
    }
    .menu-item a {
        padding: 0.8rem .35rem;
    }
    .content-card {
        margin: 1rem;
        padding-top: 1rem;
    }
    .about-heading {
        font-size: .85rem;
        line-height: 1.3rem;
    }
    .about-img-container img{
        width: 100%;
    }
    .about p {
        font-size: .9rem;
    }
    .travel-items-container {
        flex-direction: column;
    }
    .travel-item {
        max-width: unset;
        margin-bottom: 2rem;
        padding: unset;
    }
    .travel-img-container img {
        border-radius: 3px 3px 0 0;
        display: block;
    }
    .travel-item article {
        margin: auto 1rem;
    }
    .writing-item {
        flex-direction: column;
    }

    .writing-img-container img{
        border-radius: 6px 6px 0 0;
    }

    .contact-description p {
        font-size: .8rem;
    }
    .contact-form legend{
        padding: unset;
        font-size: 1rem;
    }
    .contact-form-input, .contact-form-text {
        width: 100%;
    }
    .contact-form-list label {
        text-align: unset;
        margin-bottom: .5rem;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
    .footer-items-container {
        margin: unset;
        padding-top: 1rem;
    }

    .copyright {
        padding-left: unset;
    }

    .footer-item {
        margin-right: .5rem;
        font-size: .9rem;
    }
    .footer-item a {
        padding: .5rem 0;
    }
}

@media (max-width: 440px) {

}